@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mate:wght@400;700&display=swap');

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: 'Mate', serif;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.title {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  width: 100%;
}

.MuiInputBase-input {
  color: inherit;
}

.MuiOutlinedInput-root {
  fieldset {
    border-color: inherit;
  }
  &:hover fieldset {
    border-color: inherit;
  }
  &.Mui-focused fieldset {
    border-color: inherit;
  }
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.dark-mode-toggle {
  position: absolute;
  right: 20px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .dark-mode-toggle {
    position: static;
    margin-top: 10px;
  }
}
